.footer-container {
  width: 100%;
}

.footer__content {
  display: grid;
  place-items: center;
  padding: 1.25rem 2.75rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--primary-color);
}

.footer__title {
  font-size: 20px;
  color: white;
}

.footer__list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.footer__list li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 426px) {
  .footer__content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
