.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__background {
  background-color: var(--primary-color);
  height: 200px;
  width: 100%;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 67%;
  transform: translate(-50%, -50%);
}
