.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0.5rem 1rem;
}
.nav-container ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  gap: 20px;
  color: black;
  cursor: pointer;
}
