.nav-container {
  font-family: "Lexend", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.nav-container ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: black;
  cursor: pointer;
}
