.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  background-color: var(--unselected-card-color) 
  border-radius: 1.5rem;
  width: 250px;
  height: 400px;
}

.card > .card__image {
  position: absolute;
  right: 50%;
  transform: translate(-50%, -50%);
}

.card:not(.card--selected) > .card__image {
  width: 50%;
  position: absolute;
  left: 48%;
  transform: translate(-50%, -50%);
  opacity: 80%;
}

.card--selected {
  background-color: var(--primary-color);
  width: 300px;
  height: 450px;
}

.card:not(.card--selected) {
  transform: translate(0, 5%);
}
