@import "global/variables.css";
@import "global/reset.css";

.parallax {
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.nav-container {
  transition: background 200ms ease;
  transition: transform 400ms ease;
}